*{
    box-sizing: border-box;
}
body{
    margin: 5vw 10vw 3vw 10vw;
    background-color: #DBDBDA;
}
body { min-height: 100%; margin: 0; }
a, h1, pre, h2{
    font-family: "Tektur", s, serif;
}
h1{
    font-size: 4vw;
    margin:5vw 0 0 15vw;
    color: #BE0000;
}
h2{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
    font-size: 2vw;
    margin: 0 0 0 0;
    text-align: left;
}
section{

}
article{
    margin:0;
    padding:5vw 8vw 5vw 8vw;
}
article{
    opacity: 0;
}
article:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
article.animation{
    opacity: 1;
    transition: opacity 1s;
}
article > div{
        width: 100%;
    display: flex;
    justify-self: center;
}
@media (max-width: 1800px) {
    h1{
        font-size: 4vw;
        margin:5vw 0 6vw 15vw;
    }
    h2{
        font-size: 3.5vw;
        margin: 0 0 0 0;
    }
}