*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 5vw 10vw 3vw 10vw;
    background-color: #DBDBDA;
}
a, h1, pre, h2{
    font-family: "Times New Roman", s, serif;
}
h1{
    font-size: 4vw;
    margin: 0 0 5vw 6vw;
}
h2{
    font-size: 2vw;
    margin: 0 0 5vw 0;
    text-align: center;
}
article{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10vw 0;
}