*{
    box-sizing: border-box;
    margin: 0;
}
html, body{

    width: 100%;
margin: 0;
}
body{
margin: auto;
    background-color: #DBDBDA;
}
a, h1, pre, h2{
    font-family: "Tektur", s, serif;
}
li > a{
    font-family: "Tektur", s, serif;
}
a{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
    font-size: 15px;
}
header{
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DBDBDA;
    z-index: 1000;

}
ul{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0;
    min-width: auto;
    width: 100%;
}
li:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
li{
    list-style-type: none;
    padding: 3vw 2vw;
}
a{
    font-size: 0.6vw;
    color: black;
    text-decoration: none;
}
section{

}
article:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
article{
    margin:0;
    padding:8vw 8vw 8vw 8vw;
    opacity: 0;
}
article.animation{
    opacity: 1;
    transition: opacity 1s;
}
article#first-art {

    min-width: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    object-fit: cover;
}

article#first-art > .images {
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    object-fit: cover;
}
article#first-art > .images > #cube-mini {
    display: flex;
    justify-self: center;
    align-self: center ;
    width: 7vw;
    height: auto;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 1/2;
}
#bigger-palf{
    display: flex;
    justify-self: left;
    align-self: end;
    width: 25vw;
    height: auto;
    object-fit: cover;
    grid-column: 2/3;
    grid-row: 1/3;
}
#circle-mini-palf{
    display: flex;
    justify-self: center;
    align-self: center ;
    width: 10vw;
    height: auto;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 2/3;

}
#bigger-palf-2{
    display: flex;
    justify-self: center;
    align-self: center ;
    width: 15vw;
    height: auto;
    object-fit: cover;
    grid-column: 1/2;
    grid-row: 3/4;

}
#cube-mini-2{
    display: flex;
    justify-self: center;
    align-self: center ;
    width: 7vw;
    height: auto;
    object-fit: cover;
    grid-column: 2/3;
    grid-row: 3/4;

}
.palfinger{
    height: auto;
align-content: center;
}
.palfinger > h1{
    font-size: 5vw;
    padding: 20px 0;
    text-align: center;
vertical-align: center;
}

.info{
    display: flex;
    height: auto;
}
#first-art > .info > a{
    font-size: 1.5vw;
   align-self:center;
}

#second-art{

    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows:auto auto;
}
#second-art > pre{
    display: flex;
    align-self: end;
padding-bottom: 20px;
     font-size: 4vw;
     grid-column: 1/2;
     grid-row: 1/2;
 }
#second-art > a{
    display: flex;
    align-self: start;
    font-size: 1vw;
    grid-column: 1/2;
    grid-row: 2/3;
}
#second-art > #img-sec-art{
    display: flex;
    justify-self: center;
    align-self: center;

    font-size: 40px;
    grid-column: 2/3;
    grid-row: 1/3;
    border-radius: 40px;
}
#second-art > #img-location{
    display: flex;
    justify-self: left;
    align-self: center;
width: 40vw;
    grid-column: 2/3;
    grid-row: 1/3;
z-index: 1;
}

#third-art{

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}
#third-art > h1{
    font-size: 4vw;
    font-weight: normal;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 5;
}
#third-art > #yellow-img{
    display: flex;
    justify-self: left;
position: relative;
    grid-column: 1/3;
    grid-row: 2/3;
    width: 46vw;
}
#third-art > #red-img{
    display: flex;
    justify-self: right;
position: relative;
    grid-column: 2/4;
    grid-row: 2/3;
    width: 46vw;
    z-index: 5;
}
#third-art > #img-phone{
    grid-column: 3/4;
    grid-row: 1/2;
    position: absolute;
    left: 60vw;
    z-index: 3;
    width: 15vw;
}



#fourth-art{


}
#fourth-art > h1{
    font-size: 4vw;
    font-weight: normal;

    z-index: 5;
    margin: 1vw 0;
}
#fourth-art > #fourth-map{
    display: flex;
    justify-content: center;
    width: 100%;
}



@media (max-width: 1800px){
    a{
        font-size: 2vw;
    }
    article{
        margin:0;
        padding:6vw 5vw;
    }
    #second-art > a{
        font-size: 2.5vw;
    }
    .info > a{
        font-size: 2.1vw;
        align-self:center;
    }
    article#first-art > .images {
        max-height: 600px;
        margin: auto;
    }
}
@media (max-width: 1000px) {
    a {
        font-size: 3vw;
    }

    article {
        margin:0;
        padding:6vw 1vw;
    }

    #second-art > a {
        font-size: 2.5vw;
    }

    .info > a {
        font-size: 2vw;
        align-self: center;
    }

    #third-art > #yellow-img {
        display: flex;
        justify-self: left;
        position: relative;
        grid-column: 1/3;
        grid-row: 2/3;
        width: 60vw;
    }

    #third-art > #red-img {
        display: flex;
        justify-self: right;
        position: relative;
        grid-column: 2/4;
        grid-row: 2/3;
        width: 60vw;
        z-index: 5;
    }

    #third-art > #img-phone {
        grid-column: 3/4;
        grid-row: 1/2;
        position: absolute;
        left: 50vw;
        z-index: 3;
        width: 15vw;
    }

    .palfinger > h1 {
        font-size: 10vw;
        padding: 20px 0;
        text-align: center;
        vertical-align: center;
    }

    #first-art {
        gap: 2vw;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .images {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: left;
        margin: 0 10px 10px 0;

    }

    .palfinger {
        grid-column: 1/2;
        grid-row: 1/3;
    }
    a{
        font-size: 4vw;
    }
    .info {
        grid-column: 2/4;
        grid-row: 1/2;
    }

    #second-art > pre {
        font-size: 5vw;
    }

    #second-art > a {
        font-size: 3vw;
    }
    #fourth-art > h1{
        font-size: 5vw;
    }
    #third-art > h1{
        font-size: 5vw;
    }
}
@media (max-width: 600px){
    #first-art {

    }
    article#first-art > .info > a{
        font-size: 2.5vw;
    }
}