* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #DBDBDA;
    margin: 0;
}

    header > .header-3 {
        width: 100%;
        margin: 0;
        padding: 0;
    }

h1 {
    width: auto;
}

a, h1, pre, h2 {
    font-family: "Tektur", sans-serif;
}

section, article {
    width: 100%;
}

h1 {
    font-size: 4vw;
    margin: 5vw 0 6vw 15vw;
    color: #BE0000;
}

h2 {
    font-size: 2vw;
    margin: 0 0 5vw 0;
    text-align: center;
}

#first-art {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    width: 100%;
    gap: 0;
}

#first-art > #first-map {
    display: flex;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#first-art > #first-explanation {
    padding: 3vw 0;
    font-size: 1.5vw;
    display: flex;
    grid-column: 2 / 4;
    grid-row: 2 / 3;
}
#second-art-3{
    display: block;
}
#second-art-3 > h2 {
    font-size: 4vw;
    font-weight: normal;
    text-align: left;
}

ol {
    list-style-type: none;
    counter-reset: num;
    margin: 0 0 0 45px;
    padding: 15px 0 5px 0;
    font-size: 2vw;
}

ol li {
    position: relative;
    margin: 0 0 0 0;
    padding: 0 0 5vw 3vw;
    line-height: 1.4;
    font-size: 2.5vw;
    font-family: "Jura", sans-serif;
}

ol li:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -38px;
    width: 3vw;
    height: 3vw;
    background: #FFD430;
    text-align: center;
    line-height: 2.7vw;
    font-size: 2vw;
    border-radius: 50%;
}

@media (max-width: 1800px) {
    ol {
        margin: 0 0 0 45px;
        padding: 15px 0 5px 0;
        font-size: 2vw;
    }

    ol li {
        padding: 0 0 5vw 3vw;
        font-size: 3vw;
    }

    ol li:before {
        width: 5vw;
        height: 5vw;
        line-height: 5vw;
        font-size: 3vw;
    }
}

@media (max-width: 1300px) {
    #first-art > #first-explanation {
        font-size: 2.5vw;
    }

    ol {
        margin: 0 0 0 45px;
        padding: 15px 0 5px 0;
        font-size: 2vw;
    }

    ol li {
        padding: 0 0 5vw 3vw;
        font-size: 3vw;
    }

    ol li:before {
        width: 5vw;
        height: 5vw;
        line-height: 5vw;
        font-size: 2.5vw;
    }
}

@media (max-width: 600px) {


    #first-art > #first-explanation {
        font-size: 4vw;
    }

    #second-art-3 > h2 {
        font-size: 6vw;
    }

    h1 {
        font-size: 5vw;
    }

    ol {
        margin: 0 0 0 45px;
        padding: 15px 0 5px 0;
        font-size: 2vw;
    }

    ol li {
        margin: 0 0 0 10vw;
        padding: 0 0 5vw 3vw;
        font-size: 3.7vw;
    }

    ol li:before {
        width: 8vw;
        height: 8vw;
        line-height: 7vw;
        font-size: 4vw;
    }
}