box-sizing: border-box;
margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    margin: auto;
    background-color: #DBDBDA;
}

li > a{
    font-family: "Tektur", s, serif;
    font-size: 1.5vw;
}
a{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;

}
header{
    display: flex;
    justify-content: center;
}
header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #DBDBDA;
    z-index: 1000;

}
header > ul{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 0;
    min-width: auto;
    width: 100%;
    margin: 0;
}
header > ul > li:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
header > ul > li{
    list-style-type: none;
    padding: 3vw 2vw;
}
a{
    color: black;
    text-decoration: none;
}


h1, pre, h2{
    font-family: "Tektur", s, serif;
}
a{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
}

h2{
    font-size: 2vw;
    margin: 0 0 5vw 0;
    text-align: center;
}
article{
    opacity: 0;
}
article.animation{
    opacity: 1;
    transition: opacity 1s;
}
section{

}
article{
    margin:0;
    padding:5vw 8vw 5vw 8vw;
}
#first-art{
    margin:0;
    padding:5vw 8vw 0 8vw;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
#first-art:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
#second-art:hover{
    background-color: rgba(255, 212, 48, 0.53);
}
#second-art{
    margin:0;
    padding:5vw 8vw 5vw 8vw;
}
#first-art > #first-map{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
#first-art > #first-explanation{
    padding: 3vw 0;
    font-size: 1.5vw;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
}
#second-art > h2{
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: normal;
    text-align: left;
    padding: 2vw 0;
}
ol {
    list-style-type: none;
    counter-reset: num;
    margin: 2vw 0 0 1vw;
    padding: 0;
    font-size: 2vw;
}
ol li {
    position: relative;
    padding: 1vw 0 1vw 1vw;
    line-height: 1.4;
    font-size: 2vw;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
ol li:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    margin: 1vw 0 1vw 1vw;
    top: 0;
    left: -80px;
    width: 3vw;
    height: 3vw;
    background: #FFD430;
    text-align: center;
    line-height: 2.7vw;
    font-size: 2vw;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}
@media (max-width: 1800px){
    #first-art > #first-explanation{
        padding: 3vw 0;
        font-size: 2vw;
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #second-art > h2{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 4vw;
        font-weight: normal;
        text-align: left;
        padding: 2vw 0;
    }
    ol {
        list-style-type: none;
        counter-reset: num;
        margin: 2vw 0 0 1vw;
        padding: 0;
        font-size: 2vw;
    }
    ol li {
        position: relative;
        padding: 1vw 0 1vw 1vw;
        line-height: 1.4;
        font-size: 3vw;
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: oblique;
    }
    ol li:before {
        content: counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        margin: 1vw 0 1vw 1vw;
        top: 0;
        left: -80px;
        width: 4vw;
        height: 4vw;
        background: #FFD430;
        text-align: center;
        line-height: 4vw;
        font-size: 3vw;
        border-radius: 50%;

    }
}

@media (max-width: 1000px) {
    li > a{
        font-family: "Tektur", s, serif;
        font-size: 3vw;
    }
    #first-art > #first-explanation{
        font-size: 4vw;
    }
    #second-art >h2{
        font-size: 5vw;
    }
    h1{
        font-size: 5vw;
    }
    ol {
        list-style-type: none;
        counter-reset: num;
        margin: 2vw 0 0 5vw;
        padding: 0;
        font-size: 2vw;
    }
    ol li {
        position: relative;
        padding: 2vw 0 0.5vw 10vw;
        line-height: 1.4;
        font-size: 4vw;
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: oblique;
    }
    ol li:before {
        content: counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        margin: 1.5vw 0 2vw 1vw;
        top: 0;
        left: 2vw;
        width: 7vw;
        height: 7vw;
        background: #FFD430;
        text-align: center;
        line-height: 6vw;
        font-size: 5vw;
        border-radius: 50%;

    }
    article{
        margin:0;
        padding:5vw 1vw 5vw 1vw;
    }
}