box-sizing: border-box;
margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
    margin: auto;
    background-color: #DBDBDA;
}
header{
    width: 100%;
}
h1{
    width: auto;
}
h1, pre, h2{
    font-family: "Tektur", s, serif;
}
a{
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
}
h1{
    font-size: 4vw;
    margin:5vw 0 6vw 15vw;
    color: #BE0000;
}
h2{
    font-size: 2vw;
    margin: 0 0 5vw 0;
    text-align: center;
}
section{
     margin:  0 8vw 0 8vw;
}
article{
    margin: 6vw 0;
}
#first-art{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}
#first-art > #first-map{
    display: flex;
    justify-content: center;
    grid-column: 1/3;
    grid-row: 1/2;
}
#first-art > #first-explanation{
    padding: 3vw 0;
    font-size: 1.5vw;
    display: flex;
    grid-column: 2/3;
    grid-row: 2/3;
}
#second-art > h2{
    grid-column: 1/4;
    grid-row: 1/2;
    font-size: 3vw;
    font-weight: normal;
    text-align: left;
    padding: 2vw 0;
}
ol {
    list-style-type: none;
    counter-reset: num;
    margin: 2vw 0 0 1vw;
    padding: 0;
    font-size: 2vw;
}
ol li {
    position: relative;
    padding: 1vw 0 1vw 1vw;
    line-height: 1.4;
    font-size: 2vw;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: lighter;
    font-style: oblique;
}
ol li:before {
    content: counter(num);
    counter-increment: num;
    display: inline-block;
    position: absolute;
    margin: 1vw 0 1vw 1vw;
    top: 0;
    left: -80px;
    width: 3vw;
    height: 3vw;
    background: #FFD430;
    text-align: center;
    line-height: 2.7vw;
    font-size: 2vw;
    border-radius: 50%;

}
@media (max-width: 1800px){
    #first-art > #first-explanation{
        padding: 3vw 0;
        font-size: 2vw;
        display: flex;
        grid-column: 2/3;
        grid-row: 2/3;
    }
    #second-art > h2{
        grid-column: 1/4;
        grid-row: 1/2;
        font-size: 4vw;
        font-weight: normal;
        text-align: left;
        padding: 2vw 0;
    }
    ol {
        list-style-type: none;
        counter-reset: num;
        margin: 2vw 0 0 1vw;
        padding: 0;
        font-size: 2vw;
    }
    ol li {
        position: relative;
        padding: 1vw 0 1vw 1vw;
        line-height: 1.4;
        font-size: 3vw;
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: oblique;
    }
    ol li:before {
        content: counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        margin: 1vw 0 1vw 1vw;
        top: 0;
        left: -80px;
        width: 4vw;
        height: 4vw;
        background: #FFD430;
        text-align: center;
        line-height: 4vw;
        font-size: 3vw;
        border-radius: 50%;

    }
}

@media (max-width: 1000px) {
    section{
        margin: 5vw 1vw 3vw 1vw;
    }
    #first-art > #first-explanation{
        font-size: 4vw;
    }
    #second-art >h2{
        font-size: 7vw;
    }
    h1{
        font-size: 5vw;
    }
    ol {
        list-style-type: none;
        counter-reset: num;
        margin: 2vw 0 0 5vw;
        padding: 0;
        font-size: 2vw;
    }
    ol li {
        position: relative;
        padding: 2vw 0 0.5vw 10vw;
        line-height: 1.4;
        font-size: 5vw;
        font-family: "Jura", sans-serif;
        font-optical-sizing: auto;
        font-weight: lighter;
        font-style: oblique;
    }
    ol li:before {
        content: counter(num);
        counter-increment: num;
        display: inline-block;
        position: absolute;
        margin: 3vw 0 2vw 1vw;
        top: 0;
        left: 2vw;
        width: 7vw;
        height: 7vw;
        background: #FFD430;
        text-align: center;
        line-height: 6vw;
        font-size: 5vw;
        border-radius: 50%;

    }
}